name: Java Playwright CI

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  build-test-report:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Cache Maven packages
        uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Cache Playwright browsers
        uses: actions/cache@v4
        with:
          path: ~/.cache/ms-playwright
          key: ${{ runner.os }}-playwright-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-playwright-

      - name: Install Playwright Browsers
        run: npx playwright install chromium --with-deps

      - name: Build and Test
        run: mvn clean test

      - name: Download previous report history
        uses: actions/download-artifact@v4
        with:
          name: allure-history
          path: allure-results/history

      - name: Generate Allure Report
        run: |
          npx allure generate allure-results --clean -o allure-report

      - name: Upload Allure History
        uses: actions/upload-artifact@v4
        with:
          name: allure-history
          path: allure-report/history

      - name: Deploy Allure Report to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./allure-report
          publish_branch: gh-pages
          keep_files: true













#name: Test Java 21 Playwright
#
#on:
#  push:
#    branches: [ main ]
#  pull_request:
#  workflow_dispatch:
#
#
#jobs:
#  test:
#    name: Test & Cache (${{ matrix.os }})
#    runs-on: ${{ matrix.os }}
#
#    strategy:
#      fail-fast: false
#      matrix:
#        os: [ubuntu-latest] #, windows-latest, macos-latest]
#
#    steps:
#      - name: Checkout code
#        uses: actions/checkout@v4
#
#      - name: Set up Java 21
#        uses: actions/setup-java@v4
#        with:
#          distribution: temurin
#          java-version: '21'
#          cache: maven
#
#      - name: Cache Playwright Browsers
#        uses: actions/cache@v4
#        with:
#          path: |
#            ~/.cache/ms-playwright
#            ~/Library/Caches/ms-playwright
#            ${{ env.LOCALAPPDATA }}\ms-playwright
#          key: ${{ runner.os }}-playwright-${{ hashFiles('**/pom.xml') }}
#          restore-keys: |
#            ${{ runner.os }}-playwright-
#
#      - name: Install Playwright Browsers
#        if: steps.playwright-cache.outputs.cache-hit != 'true'
#        run: mvn exec:java -e -D exec.mainClass=com.microsoft.playwright.CLI -D exec.args="install chromium --with-deps"
#
#
#      - name: Run Tests
#        run: mvn clean test
#
#
#      - name: Upload Allure Results
#        if: always()
#        uses: actions/upload-artifact@v4
#        with:
#          name: allure-results-${{ matrix.os }}
#          path: allure-results
#          retention-days: 20
#
#  publish:
#    name: Generate & Publish Allure Report
#    needs: test
#    runs-on: ubuntu-latest   # publish from a single OS (recommended)
#
#    steps:
#      - name: Checkout repo
#        uses: actions/checkout@v4
#
#      - name: Download Allure Results (Linux)
#        uses: actions/download-artifact@v4
#        with:
#          name: allure-results-ubuntu-latest
#          path: allure-results
#
#      - name: Load Allure History
#        if: always()
#        uses: actions/checkout@v4
#        with:
#          ref: gh-pages
#          path: gh-pages
#        continue-on-error: true
#
#      - name: Restore Allure History
#        if: always()
#        run: |
#          mkdir -p allure-results/history
#          if [ -d "gh-pages/history" ]; then
#            cp -r gh-pages/history/* allure-results/history/ || true
#          fi
#
#      - name: Generate Allure Report
#        if: always()
#        uses: simple-elf/allure-report-action@master
#        with:
#          allure_results: allure-results
#          allure_report: allure-report
#          gh_pages: gh-pages
#          keep_reports: 20
#
#      - name: Publish Allure Report
#        if: always()
#        uses: peaceiris/actions-gh-pages@v4
#        with:
#          github_token: ${{ secrets.GITHUB_TOKEN }}
#          publish_dir: gh-pages